.spinner {
  width: 56px;
  height: 56px;
  border: 11.2px #474bff double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinning 0.75s infinite linear;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
